    
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #f0f0f0;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: start;
    padding: 0.5rem 1rem;
}
.button-black{
        background-color: black;
        color: white;
}
.row{
    width: 100%;
}
.h1, h1 {
    font-size: 1.2rem;
    font-weight: 600;
}
@media (min-width: 500px) {
    nav {
        height: 123px;
    }
}
