    
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}
.contentBoxContacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contentBoxContacto a{
    margin-top: -2%;
    margin-left: 1rem;
}

#contentBoxH6 {
     font-weight: bold;
     font-size: 1.2rem;
}
.button-black{
        background-color: black;
        color: white;
}


.h1, h1 {
    font-size: 1.2rem;
    font-weight: 600;
}
@media (min-width: 500px) {
    nav {
        height: 123px;
    }
}
#footer{
    background-color: #6c757d;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer address{
    color: #a9a9a7;
}
