@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    font-family: 'Raleway', 'Lucida Sans';
}
section{
    background-image: url(images/imgFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
}
li{
    list-style: none;
}
.contentNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 0rem;
}
.contentNav ul li{
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.3rem;
    background-color: #002c68;
    width: 100%;

}
.contentNav ul li a{
    text-decoration: none;
    color: white;

}
.contentBoxTitulo{
    background-color: #002c68;
    padding: 1rem;

}
#contentBoxH1{
    font-size: 2.6rem;
    font-weight: bolder;
}
#contentBoxH2{
    color: #002c68;
    font-size: 2rem;
    font-weight: bolder;
}
.contentBoxTitulo a{
    text-decoration: none;
}
.contentBoxTitulo a img{
    width: 100%;
}
.contentBoxMail {
    align-items: center;

}
.contentBoxMail a{
    padding: 1.3rem;
    background-color: #002c68;
    color: white;
    text-decoration: none;
}
#footer{
    background-color: #6c757d;
}