@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    font-family: 'Raleway', 'Lucida Sans';
}
section{
    background-image: url(images/imgFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
}
li{
    list-style: none;
}.content-Nav{
    
}
.content-Nav ul li{
    border: 1px solid black;
    margin: 1rem;
    background-color: #002c68;

}
.content-Nav ul li a{
    text-decoration: none;
    color: white;

}
.contentBoxTitulo{
    background-color: #002c68;
}
.contentBoxTitulo a img{
    padding: 1rem;
}