@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    font-family: 'Raleway', 'Lucida Sans';
}
body{
    width: 100%;
    height: auto;
}
section{
    background-image: url(images/Elementos-fondo.png);
    background-color: #001b4b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 836px;
}
li{
    list-style: none;
}
.contentNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -0.7rem;
    padding: 0rem;
    margin-top: 1rem;
}
.contentNav ul li{
    border: 1px solid black;
    margin-top: 0.3rem;
    margin-left: 1rem;
    padding: 0.3rem;
    background-color: #012e64;
    width: 39px;
    font-size: x-small;
    font-weight: 600;

}
.contentNav ul li a{
    text-decoration: none;
    color: white;

}
#mktingyNegocios{
    width: 40%;
    margin-bottom: 3rem;
}
#contentBoxH1{
    border: 2px solid white;
    padding: 0.5rem;
    margin-top: 3rem;
    /* font-size: 3.2rem; */
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.3em #002c68;
}
#contentBoxH2{
    color: #002c68;
    font-size: 2rem;
    font-weight: bolder;
}
.contentBoxTitulo a{
    text-decoration: none;
}
.contentBoxTitulo a img{
    width: 20%;
    margin-top: 1rem;
}
#idMakeITFLY{
    width: 50%;
    margin-top: 4rem;
}
.contentBoxMail {
    margin-top: 1.6rem;
}
.contentBoxMail a{
    /* background-color: #002c68; */
    color: white;
    text-decoration: none;
    font-size: 23.4px;
    width: 71px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#footer{
    background-color: #898989 ;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer address{
    color: #a9a9a7;
}

@media only screen and (max-width: 767px) {

    section {
    height: auto;
    background-image: url(images/FondoResponsive.jpg);
    }
}
@media(min-width: 300px) and (max-width: 500px){
    section{
        width: 100%;
        background-image: url(images/FondoResponsive.jpg);
        height: 90.1vh;
        background-position: right;
    }
    .contentBoxTitulo a img {
        width: 45%;
    }
    #mktingyNegocios{
        width: 64%;
        margin-bottom: 1.2rem;
    }
    #idMakeITFLY {
        width: 90%;
        margin-top: 2rem;
    }
    #contentBoxH1 {
        font-size: 14px;
        margin-top: 1.3rem;
    } 
    .contentNav {
        margin-top: 0rem;
    }  
    .contentBoxMail{
        margin-top: 8px;
    }
    .contentBoxMail a {
        font-size: 12px;
    }
    #footer{
        height: 65px;
    }
    footer address{
        font-size: x-small;
    }

}
@media (min-width: 501px) and (max-width:650px) {
    section{
        height: auto;
    }
}
@media (min-height: 500px) and (max-height:600px) {
    section{
        /* height: 410px; */
        background-position: right;
    }
    .contentNav {
        margin-top: 0rem;
    }  
    #contenedorPrincipal{
        margin-top: -6%;
    }
    footer address{
        font-size: x-small;
    }
}
